div {
  color: white;
}

.bg {
  background-color: #ec3b37;
  min-height: 100vh;
}

.form-container {
  width: 460px;
}

.btn-container,
.btn-top,
.btn,
.input-container {
  /* background-color: yellow; */
  width: 100%;
}

.btn-container {
  margin-bottom: 10px;
}

.text-area {
  margin-bottom: 20px;
  resize: none;
}

.text-area::-webkit-scrollbar {
  display: none;
}

.input1 {
  outline: none !important;
  background-color: inherit !important;
  color: white;
  margin-bottom: 5px;
  width: 100%;
  min-height: 60px;
}

.input-name {
  padding-left: 0;
}

.check1 {
  background-color: white;
}

.checkbox-container {
  margin-left: 0;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgb(255, 255, 255) !important;
  opacity: 1 !important;
  /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: rgb(255, 255, 255) !important;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: rgb(255, 255, 255) !important;
}

.gender-box {
  padding: 5px;
  background-color: white;
  color: black;
  border: 2px solid #fcb131;
  border-radius: 5px;
  width: 60px;
  height: 60px;
}

.gender-box:hover,
.chosen {
  background-color: #f4e9d6;
}

.responsive {
  display: none;
}

.not-responsive {
  display: block;
}

@media (max-width: 680px) {
  .parent-container {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .child-container {
    width: 96%;
  }

  .motto {
    font-size: 24px;
  }

  .not-responsive {
    display: none;
  }

  .responsive {
    display: block;
  }

}