div {
    color: white;
}

.bg {
    background-color: #EC3B37;
    min-height: 100vh;
}

.input1 {
    outline: none !important;
    background-color: inherit !important;
    color: white;
}

.check1 {
    background-color: white;
}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgb(255, 255, 255) !important;
    opacity: 1 !important;
    /* Firefox */
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: rgb(255, 255, 255) !important;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: rgb(255, 255, 255) !important;
}

.gender-box {
    padding: 5px;
    background-color: white;
    color: black;
    border: 2px solid #FCB131;
    border-radius: 5px;
}

.gender-box:hover,
.chosen {
    background-color: #f4e9d6;
}